#one {
	font-size: 1.5em;
	background-color: lightpink;
	height: 150px;
}

#two {
	font-size: 1.5em;
	background-color: salmon;
	height: 150px;
}
#three {
	font-size: 1.5em;
	background-color: teal;
	height: 150px;
}

#one:hover, #two:hover, #three:hover {
	font-weight: bold;
}

#clickMe {
	margin-bottom: 100px;
	padding: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;

}
