h1, h2, h3, h4, h5, h6, p, li, a {
	font-family: Helvetica, sans-serif;
}

#special {
	font-family: "Courier New", Courier, monospace;
	color: salmon;
	font-weight: bold;
}
/* header */
#top {
	background-color: LavenderBlush;
	color: salmon;
	margin: 0;
	padding: 3%;
}

/* navigation */
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	background-color: salmon;
    overflow: hidden;
    width: 95%;
    display: flex;
    flex-direction: row;
}

nav li a {
	text-decoration: none;
	padding: 15%;
	margin: 15px;
	color: white;
	font-size: 1em;
}

li a:hover {
	background-color: MediumAquamarine;
	color: white;
	
}

/* body */
body {

}
.square {
	border: black solid 1px;
	width: 200px;
	height: 200px;
	margin: 5px;
}

.label {	
	font-size: 1.3em;
	text-align: center;
	padding-top: 35%;
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-content: center;

}

.back {
	display: none;
	
}

#info {
	display: flex;
	flex-direction: column;
}
#card {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}

/* footer */
footer {
	background-color: lavenderBlush;
	font-size: .8em;
}
.bottom {
	display: flex;
	justify-content: center;
	text-align: center;
}

/* responsive */
@media screen and (min-width: 810px){

	#info {
		display: flex;
		flex-direction: row;
	}
	#card {
		display: flex;
		flex-direction: : column;
		flex-flow: wrap;
}
}
@media screen and (min-width: 925px){
	.square {
		margin: 20px;
	}	
}

